/* root styling */
* {
    background-color: lightgray;
    margin: auto;
}

/* styles header */
.header h1 {
    margin: auto;
    padding: 25px;
    text-align: center;
    background-color: purple;
    border: solid black 1px;
}

.header h2 {
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: gold;
    border: solid black 1px;
}

/* styles start button/high scores button */
.start-button,#high-scores {
    display: flex;
    flex-direction: row;
    border: 2px black solid;
    padding: 25px;
    width: 250px;
    margin: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-color: plum;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

/* styles possible answer buttons for questions */
#a,#b,#c,#d {
    display: none;
    flex-direction: row;
    border: 2px black solid;
    padding: 25px;
    width: 250px;
    margin: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-color: plum;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

/* button hover styling */
#a:hover,#b:hover,#c:hover,#d:hover,.start-button:hover,#high-scores:hover {
    color: white;
    background-color: purple;
}

/* styling timer box */
.timer {
    display: none;
    flex-direction: row;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: gold;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: auto;
    padding: 20px;
    border: solid black 1px;
    width: 200px;
    border-radius: 10px;
    justify-content: center;
}

/* styling text */
p{
    color: black;
    text-shadow: .5px .5px white;
    text-align: center;
    font-size: xx-large;
    font-family: sans-serif;

}

/* sets high score container and game-over to display none at startup */
.high-score-container {
    display: none;
}


.game-over {
    display: none;
}

/* styling for final score box */
.final-score {
    padding: 25px;
    border: solid 2px black;
    margin: auto;
    background-color: plum;
    font-size: 16px;
    font-weight: bold;
}

/* styling for initials */
#initials {
    padding: 25px;
    border: solid 2px black;
    margin: auto;
    background-color: plum;
    font-size: 16px;
    font-weight: bold;
}

/* more button hover styling */
#initials:hover,.submit-score:hover {
    color: white;
    background-color: purple;
}

/* more button styling */
.submit-score,.play-again,.clear-high-score {
    flex-direction: row;
    border: 2px black solid;
    padding: 25px;
    width: 250px;
    margin: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-color: plum;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

/* high score page styling */
.high-score-page {
    display: flex;
    flex-direction: row;
    border: 2px black solid;
    padding: 25px;
    width: 400px;
    margin: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-color: plum;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    list-style: none;
}

.high-score-page h3 {
    text-decoration: underline;
}

/* more button hover styling */
.play-again:hover,.clear-high-score:hover {
    color: white;
    background-color: purple;
}
